{
  "endOfLine": "crlf",
  "tabwidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "css",

  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.html", "legacy/**/*.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
